div.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;    
}



div.main-body section{    
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

section.main-info{
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}

section.main-info strong{
    color: var(--primary-color-text);
    font-weight: normal;
    font-size: 1.5rem;
}

section.main-info h1{
    font-size: 2.5rem;    
    font-weight: 200;
}

section.main-info img{
    width: 250px;
    height: 250px;
    margin: 2rem;
}

div.access-pos{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.access-pos h4{
    margin: 1rem 0;
}

section.features{
    background: #fff;
}

section.features h2{
    font-size: 2.25rem;
    color: var(--primary-color);
    font-weight: 300;
    margin-bottom: 4rem;
}

div.feature-item{
    margin: 0 2rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.feature-item h3{
    color: #707070;
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

div.feature-item p{
    text-align: center;
    line-height: 1.5;
}

div.parent-features{
    display: flex;
    flex-direction: row;
}



section.bottom-info{    
    background-color: #707070;
    color: #fbfbfb;
}

div.demodiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
}

div.access-pos h4{
    font-weight: bold;
    
}


div.access-pos p{
    font-weight: 200;
    letter-spacing: 1.5px;
}

div.parent-democode{
    display: flex;
    flex-direction: row;
    align-items: center;
}


input#democode{
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
    text-align: center;
    width: 5rem;
    height: 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    border: none;    
    margin: 0.5rem 0 0.5rem;
    border-radius: 20px;    
    color: var(--onsurface-title);
}

input#democode:hover,
input#democode:focus {
    box-shadow: 3px 3px 3px 0 rgb(0,0,0, 0.2);
}


button#btn-go,
button#new-demo{
    min-width: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



div.bar-load-progress svg{
    margin-top: -8px;
    align-self: center;    
}

button.clear-demo{
    background: transparent;
    outline: 0;
    border: none;    
    border-radius: 6px;
    color: var(--primary-color-text);
    cursor: pointer;
    height: 1.5rem;
    width: 2rem;
}

button.clear-demo:hover{
    background: var(--primary-color-2);
}

div.code-space{
    padding: 0 1rem;
    background-color: turquoise;
}