
button.action-button,
button.action-button-disabled{
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    border: 0;    
    outline: none;
    border-radius: 6px;
    padding: 0.75rem 1rem;   
    cursor: pointer;
}

button.action-button:hover{
    background-color: var(--primary-color-4);    
}

button.action-button-disabled{
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: default;
}

button.action-button:focus{
    outline: 2px solid #a0a0a0;
}

button.link-button{
    margin-left: 0.5rem;
    border-radius: 6px;
    color: var(--primary-color);
    background-color: transparent;
    border: 0;    
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1rem;   
}

button.link-button:hover{
    color: var(--primary-color-4);
}

button.link-button:focus{
    outline: 2px solid #a0a0a0;
}

button.secondary-action{
    background-color: #F6F6F6;
    color: #808080;
    border: 0;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    padding: calc(0.75rem - 1px) 1rem;   
    outline: none;
    cursor: pointer;
}

button.secondary-action:hover{
    background-color: #e4e4e4;    
}



button.alternative-surface,
button.alternative-surface-disabled{
    background-color: var(--surface-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);    
    outline: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;   
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #f0f0f0;
}

button.alternative-surface:hover{
    background-color: var(--surface-hover);    
    box-shadow: 2px 2px 2px 2px #ebebeb;
}

button.alternative-surface-disabled{
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: default;
}
button.alternative-surface:focus{
    outline: 2px solid #a0a0a0;
}

button.alternative-back,
button.alternative-back-disabled{
    background-color: var(--background-colorr);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);    
    outline: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;   
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #f0f0f0;
}

button.alternative-back:hover{
    background-color: var(--background-color-hover);    
    color: #000;
    box-shadow: 2px 2px 2px 2px #ebebeb;
}

button.alternative-back-disabled{
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: default;
}
button.alternative-back:focus{
    outline: 2px solid #a0a0a0;
}




button.on-primary,
button.on-primary-disabled{
    padding: 0.5rem 1rem;
    background-color: var(--primary-color-text);
    color: var(--primary-color);
    border-radius: 2px;
    outline: none;
    border: 0;
    box-shadow: 3px 3px 3px 0 rgb(0,0,0, 0.2);
    cursor: pointer;
}

button.on-primary:hover{
    position: relative;
    top: 2px;
    left: 2px;
    background-color: var(--primary-color-text-hover);
}

button.on-primary-disabled{
    background-color: var(--primary-color-2);
    color: var(--primary-color-text);
    cursor: default;
    box-shadow: none;
}

button.icon-button{
    background-color: transparent;
    color: var(--onsurface-text-2);
    padding: 0;
    border: 0;
    display: flex;
    cursor: pointer;
}

button.icon-button:hover{
    color: var(--onsurface-text);    
}

div.error-on-primary{
    background-color: var(--onprimary-error);
    color: var(--primary-color-text);
    padding: 0.5rem;
    margin: 0.5rem;
}

div.error-on-surface,
p.error-on-surface{
    color: var(--onprimary-error);
}

p.error-on-surface{
    text-align: center;
}

li.react-tabs__tab,
li.react-tabs__tab--selected{
    background-color: var(--surface-color);    
    color: var(--onsurface-title);
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    box-shadow: 0 0 4px 0 #70707064;
    cursor: pointer;
}

li.react-tabs__tab--selected{
    color: var(--primary-color);   
    border-top: 2px solid var(--primary-color);
    box-shadow: none;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

ul.react-tabs__tab-list{
    display: flex;
    flex-direction: row;
}

div.av-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.av-row-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;    
}

div.av-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.av-column-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.width-100{
    width: 100%;
}

div.av-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}

input.noborder-surface{
    outline: none;
    border: 0;
    font-size: 1rem;    
    padding: 0.5rem;
    color: var(--onsurface-text);    
    border: 1px solid var(--surface-color);
    background-color: var(--surface-color);
}

input.noborder-surface:focus,
input.noborder-surface:hover{
    border: 1px solid var(--onsurface-detail);
}

input.form-surface{
    outline: none;
    border: 0;
    font-size: 1rem;    
    padding: 0.5rem;
    color: var(--onsurface-text);    
    border: 1px solid var(--onsurface-detail);
    background-color: var(--surface-color);
}

input.form-surface:focus,
input.form-surface:hover{
    border: 1px solid var(--onsurface-title);
}

label.chk-box{
    font-size: 1rem;    
    display: flex;
    flex-direction: row;
    align-items: center;
}

label.chk-box input{
    width: 16px;
    height: 16px;
    margin: 0 0.5rem 0.25rem 0;
}

label.header-section{
    font-size: 1rem;
    color: var(--onsurface-text);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

div.av-select__control--is-focused{
    box-shadow: none;        
    border-color: var(--onsurface-title);
}

div.av-select__control{
    border: 1px solid var(--onsurface-detail);
    border-radius: 0;    
}

div.av-select__control:hover,
div.av-select__control--is-focused:hover{
    border: 1px solid var(--onsurface-title);
}

div.av-select__control--is-focused{    
    border: 1px solid var(--onsurface-title);
}

div.av-select__option--is-focused{
    background-color: var(--primary-color-7);
}

div.av-select__option--is-selected{
    background-color: var(--primary-color);
}