
div.parent-products{
   display: flex;
   flex-direction: column;
   height: 100%;
}

div.client-content{
   display: flex;
   flex-direction: column;
   height: calc(100vh - var(--header-height));
   align-items: center;
}

section.top-search{
   flex: 0 1 auto;
   max-width: 40rem;      
   width: 100%;
}

section.search-results{   
   background-color: var(--surface-color);  
   flex: 1 1 auto;   
   display: flex;
   flex-direction: column;   
   align-items: center;
   width: 100%;
}

div.pd-result-content{   
   padding: 1rem;
   flex: 1;   
   display: flex;
   flex-direction: column;   
   row-gap: 1rem;
   max-width: 44rem;
   width: calc(100% - 2rem );
}

.sec-info-results{
   color: var(--onsurface-title);
   font-size: 0.75rem;
}


li.product-item{
   padding: 0.5rem;
   border-radius: 4px;
   border: 1px solid #C4C4C4;   
   display: flex;
   flex-direction: column;
   margin: 0;
   align-items: inherit;   
   background-color: var(--surface-color);
}

div.pd-item-content-full{
   display: none;
}

div.pd-item-content-normal{
   display: flex;
   flex-direction: column;
}

li.product-item:hover{
   background-color: var(--surface-hover);
}

li.product-item:not(:last-child) {
   margin-bottom: 1px;
}

div.header-product-item{
   border-bottom: 1px solid #f1f1f1;
   padding-bottom: 0.375rem;
}


h3.product-item-title,
h3.product-item-title-deleted{
   font-size: 0.75rem;
}

h3.product-item-title-deleted{
   text-decoration: line-through;     
}

div.detail-product-item{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-top: 0.375rem;
   align-items: center;
}

div.detail-product-item p{
   font-size: 0.75rem;
   color: var(--onsurface-text-2);
}

div.search-box{
   display: flex;
   flex-direction: column;
   background-color: var(--surface-color);
   padding: 1rem;
   margin: 1rem 1rem 1.5rem;
   row-gap: 0.5rem;
}

button.search-sub-btn{
   flex: 1;
}

button.load-more{
   margin: 0 1rem;
}

div.info-products{
   display: flex;
   flex-direction: row;   
   padding: 1rem;   
   justify-content: space-between;
}

div.info-products h1{
   font-size: 1.5rem;
   font-weight: bold;
}

div.info-products button{
   min-width: 5rem;
}


div.parent-product-dialog{
   background-color: var(--surface-color);
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
   padding: 1rem;
   border-radius: 6px;
   width: 18rem;
   min-height: 10rem;
}

div.pd-main-content{
   display: flex;
   flex-direction: column;
   row-gap: 0.5rem;
   flex: 1;
}

h2.dialog-title{
   font-size: 0.75rem;
   color: var(--onsurface-title);
   text-align: center;
}

div.pd-main-content label{
   font-size: 0.9rem;
   color: var(--onsurface-text);
   margin-top: 1rem;
}

div.container-price-range{
   padding: 0 1.5rem;
   width: 80%;   
}

div.loading-copying{
   display: flex;
   flex-direction: column;   
}


div.input-min-max{
 margin-top: 1rem;  
}

div.input-min-max input{
   width: 5rem;
   text-align: center;
}

div.parent-price-range{
   row-gap: 0.5rem;
}

span.rc-slider-dot{
   border-color: #dAdAdA;
}

div.rc-slider-handle,
div.rc-slider-handle-dragging,
div.rc-slider-handle-click-focused,
div.rc-slider-handle:hover{
   border-color: var(--primary-color-4);
}

div.parent-sort-order{
   min-width: 12rem;
}

input.pd-search{
   flex: 1;
}


div.pd-search-buttons{
   display: flex;
   flex-direction: column;
   row-gap: 0.5rem;
}

div.pd-item-det-full{
   display: flex;
   flex-direction: row;
   column-gap: 0.5rem;
}

div.pd-item-det-full p{
   width: 8rem;
}

div.items-results-header{
   display: none;
   padding: 0 1rem;
   column-gap: 0.5rem;
}

div.items-results-header p{
   font-size: 0.75rem;
   color: var(--onsurface-title);   
}

p.irh-item{
   width: 8rem;
}

p.irh-item-actions{
   width: 2rem;
}

@media screen and (min-width: 768px) {
   div.search-box{
      display: flex;
      flex-direction: row;
      justify-content: space-between;      
      column-gap: 0.5rem;
   }

   div.pd-search-buttons{      
      flex-direction: row;
      column-gap: 0.5rem;
   }   

   div.pd-item-content-full{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   
   div.pd-item-content-norm{
      display: none;
   }

   div.items-results-header{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
   }
   
 }